altgraph==0.17.5
CTkSpinbox==1.4.1
customtkinter==5.2.2
darkdetect==0.8.0
packaging==26.2
pefile==2024.8.26
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
pywin32-ctypes==0.2.3
setuptools==82.0.1
tksvg==0.7.4
